{% extends "main/base.html" %}

{% block title_block %}
<title>Change Password</title>
{% endblock %}


{% block body_block %}

	<style type="text/css">
		body{
			/*border: 1px solid black;*/
			background-color: white;
		}
		#card1{
			border-radius: 7px;
			padding-top: 3px;
			/*box-shadow: 2px 4px #dbe8fc;*/
			/*border: 1px solid #a4aebf;*/
			/*background-color: #98c5c2; */
			/*background-color: #032e72;*/
			/*background-color: #f9c8c2;*/
			/*background-color: whitesmoke;*/
			margin: auto;
		}
		#heading_div{
			/*padding-left: 10px;*/
			margin-top: 5px;
			/*padding-right: 10px;
			padding-top: 10px;*/
			margin-bottom: 8px;
			font-size: 1em;
			/*background-color: #f7ccbe!important;*/

		}
		#content{
			border-bottom-right-radius: 7px;
			border-bottom-left-radius: 7px;
			/*background-color: whitesmoke;*/
			/*background-color: #f7ccbe!important;*/
		}
		#email{
			/*border-bottom: 0!important;*/
		}
		input:focus{
			outline: none!important;
			box-shadow: none!important;
			border-color: blue!important;
		}
		input{
			/*border: 0.5px #80bdff solid!important;*/
			background-color: ;
			height: 36px;
			padding-left: 5px;
			border-radius: 0!important;
			border: none!important;
			border: 1px solid #dbe8fc!important;
			/*background-color: whitesmoke!important;*/
			/*background-color: #f7ccbe!important;*/
		}
		#submit_button{
			color: white!important;
		}
		#cancel_button{
			background-color: ;	
		}
		@media only screen and (min-width: 600px) {
		    #card1 {
		        max-width: 450px;
		        margin-top: 60px;
		    }
		}
	</style>

	<div id="card1">
		<div id="heading_div">
			<h4 id="heading">Change Your Password</h4>
		</div>

		<div id="content">
			<div style="padding-top: 15px;">
				{% if error %}
					<p style="color: red;">{{ error }}</p>	
				{% endif %}
				<form method="POST">
					{% csrf_token %}

					<!-- <p style="margin-bottom: 0;">Current password</p> -->
					<input type="password" name="pass1" style="width: 100%; margin-bottom: 5px; padding-left: 10px;" placeholder="Current password" required="true" autofocus="true">

					<!-- <p style="padding-top: 5px; margin-bottom: 0;">New password</p> -->
					<input type="password" name="pass2" style="width: 100%; margin-bottom: 5px; padding-left: 10px;" placeholder="New password" required="true">
					
					<!-- <p style="padding-top: 5px; margin-bottom: 0;">Confirm New password</p> -->
					<input type="password" name="pass3" style="width: 100%; margin-bottom: 5px; padding-left: 10px;" placeholder="Confirm New password" required="true">
				
					<p></p>

					<button id="submit_button" style="margin-bottom: 10px;" type="submit" class="btn btn-block btn-primary">Submit</button>
					
				</form>

				<a href="{% url 'index' %}">
					<button style="" id="cancel_button" class="btn btn-block btn-info">Cancel</button>
				</a>

				<br>

			</div>
			

		</div>
	</div>

{% endblock %}