{% extends "main/base.html" %}

{% block title_block %}
<title>Change Password</title>
{% endblock %}


{% block body_block %}

	<style type="text/css">
		#card1{
			/*border-radius: 7px;*/
			padding-top: 3px;
			box-shadow: 2px 4px #dbe8fc;
			border: 1px solid /*#a4aebf*/ black;
			background-color: #98c5c2;
		}
		#heading_div{
			border-bottom:	1px solid /*#a4aebf*/ black;

		}
		#heading{
			/*padding-left: 10px;*/
			margin-top: 5px;
			/*padding-right: 10px;
			padding-top: 10px;*/
			margin-bottom: 8px;
			font-size: 1em;
		}
		#content{
			/*border-bottom-right-radius: 7px;*/
			/*border-bottom-left-radius: 7px;*/
		}
		input:focus{
			outline: none!important;
			box-shadow: none!important;
			border-color: blue!important;
		}
		input{
			border: 0.5px #80bdff solid!important;
			background-color: ;
			height: 36px;
			padding-left: 5px;
			border-radius: 0!important;
		}
		#submit_button{
			background-color: #80bdff;	
			color: white;
		}
		#cancel_button{
			background-color: ;	
		}
	</style>

	{% if a %}
	<p>GET Parameter: {{ a }}</p>
	{% endif %}

	<div id="card1">
		<div id="heading_div" class="container">
			<p id="heading"><strong>Change Your Password</strong></p>
		</div>

		<div id="content" style="background-color: /*#c7daed*/ whitesmoke;">
			<div class="container" style="padding-top: 15px;">
				{% if error %}
					<p style="color: red;">{{ error }}</p>	
				{% endif %}
				<form method="POST">
					{% csrf_token %}

					<p style="margin-bottom: 0;">Current password</p>
					<input type="password" name="pass1" style="width: 100%" required="true">

					<p style="padding-top: 5px; margin-bottom: 0;">New password</p>
					<input type="password" name="pass2" style="width: 100%" required="true">
					
					<p style="padding-top: 5px; margin-bottom: 0;">Confirm New password</p>
					<input type="password" name="pass3" style="width: 100%" required="true">
				
					<hr>

					<button id="submit_button" style="color: black;" type="submit" class="btn btn-block">Submit</button>
					
				</form>
				
				<br>

				<a href="javascript:history.back(1)">
					<button style="color: black;" id="cancel_button" class="btn btn-block">Cancel</button>
				</a>

				<br>

			</div>
			

		</div>
	</div>

{% endblock %}