{% extends "main/base.html" %}

{% block title_block %}
<title>Enter Code</title>
{% endblock %}


{% block body_block %}

	{% if confirmed == True %}
		<p style="color: green;">Your email is now verified.</p>
		<p>You can use all the features of the website now!</p>
	{% else %}
		{% if incorrect_code == True %}
			<p style="color: red;">Incorrect Code. Please try again</p>
		{% endif %}

		
		<p>Enter the code which you have recieved: </p>
		<p><em>6-Digit Integer</em></p>
		<form method="POST">
			{% csrf_token %}
			<input type="number" min="100000" max="999999" name="code_entered">
			<input type="submit" class="btn btn-sm btn-success" value="Confirm">
		</form>
	{% endif %}

{% endblock %}