{% extends 'main/base.html' %}
{% load static %}

{% block title_block %}
	<title>Expense List</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
	<script src="https://unpkg.com/jspdf-autotable@2.3.1/dist/jspdf.plugin.autotable.js"></script>


{% endblock %}


{% block body_block %}

	{% if confirmed == False %}
		<p style="color: red;">Your email is not confirmed.You can only add expenses but can not view them.</p>
	{% else %}
		<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="crossorigin="anonymous"></script>

		<style type="text/css">
			body{
				color: black!important;
				background-color: whitesmoke!important;
			}
			table, th, td{
				/*border:solid black 1px;*/
				padding-left: 5px;
				padding-right: 5px;
				/*border-top: 1px #0850b6 solid;*/
			}
			td{
				width: 100%;
				height: 35px!important;
				border-top: 1px solid black;
			}
			th{
				width: 70%;
				height: 35px!important;
				border-top: 1px solid black;
			}
			thead>tr{
				border:none!important;
			}
			.hover_cursor:hover{
				cursor: pointer;
			}
			.main_table_div, #quick_add_div{
				box-shadow: 3px 3px 3px #dbe8fc;
				border-radius: 0px;
				border: 1px solid black;
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				background-color: #d7e8f9;
				border-top: none;
			}
			.main_table{
				width: 100%;
				background-color: #d7e8f9;
			}
			.new_add{
    			border: 1px solid black;
    			float:left;
    			background-color: #d7e8f9;
    			color: black;
    			border-radius: 3px;
			}
			.new_add:hover{
				background-color: whitesmoke;
				cursor: pointer;
			}
			#search_bar{
				border-top-left-radius: 7px;
				border-bottom-left-radius: 7px;
				border: 1px solid black;
			}
			#search_bar:focus{
				box-shadow: none;
				outline: 0;
			}
			#search_button{
				border-radius: 0;
				border-top-right-radius: 7px;
				border-bottom-right-radius: 7px;
				border: 1px solid black;
				border-left: none;
				background-color: rgb(164, 197, 243);
			}

			.dropdown_button{
    			background-color: rgb(164, 197, 243);
    			color: black;
    			cursor: pointer;
    			border-radius:0px;
    			border: 1px solid black;
    			box-shadow: 3px 3px 3px #dbe8fc;
    		}
    		.header_total{
    		    float:right;
    		}
			#quick_add_div{
				margin-bottom: 20px;
				border-top: 1px solid black;
				padding: 10px;
			}
			#editQuantityButtonsDiv{
			    display: block;
			}
			#vegetable_amount_edit_manually{
			    color: blue;
			    text-decoration: underline;
			}
			#vegetable_amount_edit_manually:hover{
			    cursor: pointer;
			}


			{% if query %}
				#main_heading{
					font-size: 20px;
					color: #000000;
				}
				#search_query_tagline{
					display: inline-block;
					margin-top: 5px;
					color: green;
				}
				#search_div{
					margin: 0;
					padding: 0;
				}
			{% else %}
				#main_heading{
					font-size: 30px;
					color: #000000;
					text-align: center;
					}
				#search_query_tagline{
					display: none;
				}
	    	{% endif %}
		</style>

		<script type="text/javascript">
			$(document).ready(function(){

				{% regroup expense_list by date as regrouped_expense_list %}

					{% for date, expense_data in regrouped_expense_list %}

							// Totalling All the Dayily Expenses and Appending it to the last table row.
							var t = 0;
							{% for e in expense_data %}
								{% if forloop.counter0 == 0 %}
								{% endif %}
								t += {{ e.amount }};
							{% endfor %}
    								a = "<tr><th style = 'text-align:right'>Total: </th><td><strong>Rs " + t + "</strong></td></tr>"
    								$("#{{ date|date:"U" }}_table").append(a);
    								$('#{{ date|date:"U" }}_header_total').html("Rs " + t);


    						if(t > 2000){
    						    $("#{{ date|date:"U" }}_table").css("background-color", "rgb(255, 103, 103)");
    						    $("#{{ date|date:"U" }}_dropdown_button").css({"background-color": "#ff3333", "color": "white"});
    						    $("#{{ date|date:"U" }}").css({"background-color": "red", "color": "whitesmoke",
    						                                    "border-bottom-color": "white", "border-right-color": "white",
    						                                    "border-top-color": "white", "border-left-color": "white"});

    						}

							// Hiding/Unhiding the tables as per the page type.
							{% if query %}
								//In case of a search, the code will execute for all, but in case of not query, it will execute only for counter0.
								$("#{{ date|date:"U" }}_div").slideToggle();
								$("#{{ date|date:"U" }}_p").html('-');

							{% else %}
								//No Query, general list.
								//Showing the first table only.
								{% if forloop.counter0 == 0 %}

								$("#{{ date|date:"U" }}_div").slideToggle("slow");
								$("#{{ date|date:"U" }}_p").html('-');

								{% endif %}

							{% endif %}
					{% endfor %}
			})
		</script>

	    <script type="text/javascript">
			function add_for_date(event, a){
				event.stopPropagation();

				date = a.id;
				console.log(date);

				var address = window.location.protocol + "//" + window.location.host + "/main/add/" + date;
				console.log(address);
				window.location.assign(address);
			}
			// function showMonthlyTotal(){
			// 	document.getElementById('monthly_total').style.display = "inline";
			// 	document.getElementById('monthly_total_header').innerHTML = "Monthly Total: ";
			// }

			function toggle_table(event, a) {
				// event.stopPropagation();

				// alert(event.target.id);

				// alert(a.id);
				var id = a.id;
				var s = id.indexOf("_");

				id = id.slice(0, s);

				var symbol = document.getElementById(id + "_p").innerHTML;
				symbol = symbol.toString();
				// alert(symbol);

				$("#" + id + "_div").slideToggle("slow");
				if(symbol == '+')
				{
					$("#" + id + "_p").html('-');
				}
				else if(symbol == '-')
				{
					$("#" + id + "_p").html('+');
				}
			}
	    </script>

        <script type="text/javascript">
			function generate() {
				var month_names = new Array("January", "February", "March",
				"April", "May", "June", "July", "August", "September",
				"October", "November", "December");
				tableObjects = document.getElementsByTagName('table');
				var tableIdArray = []
				var previousY = 0
				var doc = new jsPDF('p', 'pt');
				//Creating array of table ID's.
				for (var i = 0 ; i < tableObjects.length ; i++)
				{
					xx = i+1
					indexOfUnderscore = tableObjects[i].id.indexOf("_");
					tableIdArray[i] = tableObjects[i].id.toString().slice(0, indexOfUnderscore);
					//Required in JavaScript
					s = tableIdArray[i] + "000";
					x = tableIdArray[i];
					//Getting date from unixEpoh
					date = new Date(parseInt(s))
					s = date.getDate().toString() + "-" + month_names[date.getMonth()] + "-" + date.getFullYear()
					if (i == 0)
					{
						endDate = s;
					}
					if(i == tableObjects.length - 1)
					{
						startDate = s;
					}
				}
				doc.setFontSize(12);
				doc.setTextColor(40);
				d = new Date()
				userDetails = " Downloaded by {{ user.first_name }} {{ user.last_name }} on " + d.getDate().toString() + "-" + month_names[d.getMonth()] + "-" + d.getFullYear() + " at " + d.toLocaleTimeString()
				doc.text(userDetails , 40, 30);
				doc.setFontSize(17);
				doc.setTextColor(40);
				message = "Expenses Report from " + startDate + " to " + endDate
				doc.text(message , 40, 55);
				for (var i = 0 ; i < tableObjects.length ; i++)
				{
					doc.setFontSize(5);
					//Required in JavaScript
					s = tableIdArray[i] + "000";
					x = tableIdArray[i];
					//Getting date from unixEpoh
					date = new Date(parseInt(s))
					s = date.getDate().toString() + "-" + month_names[date.getMonth()] + "-" + date.getFullYear()
					id = x + "_table"
					pageNumberBeforeTablePrinting = doc.internal.getCurrentPageInfo().pageNumber
					var header = function(data) {
						doc.setFontSize(13);
						doc.setTextColor(40);
						doc.setFontStyle('normal');
						if (i == 0){
							doc.text(s , data.settings.margin.left, previousY + 80);
						}
						else{
							if(doc.internal.getCurrentPageInfo().pageNumber != pageNumberBeforeTablePrinting)
							{
								previousY = 0
								doc.text(s , data.settings.margin.left, previousY + 50);
							}
							else
							{
								doc.text(s , data.settings.margin.left, previousY + 50);
							}
						}
					};
					var options = {
						theme: 'grid',
						//Auto paggination makes header text print twice on the same and the following page.
						margin: { top: 60 },

						//startY overrides margin top, startY is used when auto paggination does not occur.
						startY: previousY + 60,
						pageBreak: "avoid",
						addPageContent: header,
						//WRAP CELLS ACCORDING TO TEST LENGTH.
						// styles: {overflow: 'hidden', columnWidth: 'wrap'},
						// columnStyles: {text: {columnWidth: 'auto'}}
						drawCell: function(cell, data) {
							var rows = data.table.rows;
							if (data.row.index == rows.length - 1) {
								doc.setTextColor("green");
								doc.setFillColor(220, 220, 220);
							}
						}
					};
					if (i == 0)
					{
						options.startY = previousY + 90;
					}

					var res = doc.autoTableHtmlToJson(document.getElementById(id));
					doc.autoTable(res.columns, res.data, options);
					previousY = doc.autoTable.previous.finalY;
				}
				doc.save("ExpensesList_" + startDate + "_to_" + endDate + ".pdf");
			}
	    </script>

        <!-- Function for Quick Add Vegetables Modal -->
        <script type="text/javascript">
            function changeQuantity(buttonElement){
                var buttonText = buttonElement.innerHTML;
                var addOrSubtract = buttonText[0];
                var currentQuantity = parseInt($('#quickAddVegetables').find('#vegetable_quantity').val());
                var newQuantity = 0;
                if(addOrSubtract == '+'){
                    newQuantity = currentQuantity + parseInt(buttonText.split()[0].substr(1));
                }
                else if(addOrSubtract == '-'){
                    newQuantity = currentQuantity - parseInt(buttonText.split()[0].substr(1));
                }

                if(newQuantity <= 0){
                    var message = "Can not be subtracted since the quantity will be less or equal to 0";
                    newQuantity = currentQuantity;
                    alert(message);
                }
                $('#quickAddVegetables').find('#vegetable_quantity').val(newQuantity);

                if(Number.isInteger(parseInt($('#quickAddVegetables').find('#vegetable_unit_price').val()))){
	                updateVegetableTotal();
	            }
            }
            function updateVegetableTotal(){
                let quantity = parseInt($('#quickAddVegetables').find('#vegetable_quantity').val());
                let unit_price = parseInt($('#quickAddVegetables').find('#vegetable_unit_price').val());


				$('#quickAddVegetables').find('#vegetable_total_amount').val(quantity * unit_price/1000);
            }
            function edit_manually(){
                $('#quickAddVegetables').find('#vegetable_total_amount').prop("readonly", false);
                $('#quickAddVegetables').find('#vegetable_unit_price').val("0");
                $('#quickAddVegetables').find('#vegetable_unit_price').prop("disabled", true);
            }
        </script>

    	<p id="main_heading">
    		EXPENSES LIST
			<!--Only shown when query exists.-->
    		<span id="search_query_tagline" class="small">
	    		( Expenses containing "{{ query }}" )
	    	</span>
    	</p>

		<form id="search_form" action="{% url 'main:expense_list' %}" method="GET">
			<div id="search_div" class="input-group input-group-sm mb-3">
				<input type="text" id="search_bar"
					   class="form-control"
					   aria-label="Small"
					   aria-describedby="inputGroup-sizing-sm"
					   name="query"
					   required
				>
				<input type = "submit"
					   id="search_button"
					   class=" btn input-group-text"
					   id="inputGroup-sizing-sm"
					   value = "Search"
				>
			</div>
		</form>

		<!-- PDF functionality -->
		<button class="container-fluid btn btn-primary"
				style="height: 30px; padding: 0"
				onClick ="generate()">
			Download list as PDF
		</button>

		{% if not regrouped_expense_list %}
			<!-- If query exists and no regrouped list formed -->
			{% if query %}
				<p style="color: red;">0 match found.</p>
				<p>Click <a href="{% url 'main:add_expense' %}">here</a> to add a new expense.</p>
				<a href="javascript:history.back(1)"><button class="btn btn-info">Go Back</button></a>
			{% endif %}
		{% endif %}


		<p style = "font-size: 17px">
			{% if grand_total and grand_total != 0 %}
				<p>GrandTotal is <strong> Rs {{ grand_total }} </strong></p>
			{% else %}
			{% endif %}
		</p>

		<div id="quick_add_div">
			<h5>Quick Add</h5>
			<div class="btn-group">
				<button type="button" class="btn btn-info mr-2"data-toggle="modal" data-target="#quickAddMilk">
					Milk
				</button>
				<!-- Modal for Quick Add: Milk -->
				<div class="modal fade" id="quickAddMilk" tabindex="-1" role="dialog">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="quickAddMilkTitle">Quick Add: Milk</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<form action="{% url 'main:add_expense' %}" method="get">
									<input name="title" hidden value="Milk">
									<div class="form-group">
										<label for="number_of_packets">Select number of packets</label>
										<select id="number_of_packets" name="number_of_packets" class="custom-select">
											<option value="3">3</option>
											<option value="4">4</option>
											<option value="5">5</option>
											<option value="6">6</option>
											<option value="7">7</option>
											<option value="8">8</option>
											<option value="9">9</option>
											<option value="10">10</option>
										</select>
									</div>
									<input style="float: right" type="submit" class="btn btn-success" value="Add">
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="btn-group">
					<button class="btn btn-info dropdown-toggle mr-2"
                            type="button"
                            id="quickAddVegetablesButton"
                            data-toggle="dropdown">
						Vegetables
					</button>
					<div class="dropdown-menu">
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Arvi">Arvi
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Brinjal">Brinjal
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Cabbage">Cabbage
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Capsicum">Capsicum
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Carrots">Carrots
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Cauliflower">Cauliflower
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Corn">Corn
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Garlic">Garlic
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Ginger">Ginger
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Lettuce">Lettuce
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Methi">Methi
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Mushroom">Mushroom
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Onions">Onions
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Peas">Peas
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Potatoes">Potatoes
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Pumpkin">Pumpkin
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Radish">Radish
						</button>
						<button class="dropdown-item" data-toggle="modal" data-target="#quickAddVegetables"
								data-vegetable-name="Tomatoes">Tomatoes
						</button>
					</div>

					<!-- Modal for quickAddVegetables -->
					<div class="modal fade" id="quickAddVegetables" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="quickAddVegetablesLabel">Quick Add: Vegetables</h5>
									<button type="button" class="close" data-dismiss="modal">
										<span>&times;</span>
									</button>
								</div>
								<div class="modal-body">
                                    <form action="{% url 'main:add_expense' %}" method="get">
                                        <div class="form-group">
                                            <input class="form-control" id="vegetable_title" name="vegetable_title" hidden>
                                            <label for="vegetable_unit_price">Unit Price (per Kg)</label>
                                            <input class="form-control" id="vegetable_unit_price"
                                                   type="number"
                                                   name="vegetable_unit_price"
                                                   placeholder="per Kg"
                                                   onkeyup="updateVegetableTotal()"
                                                   min="1"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label for="vegetable_quantity">Quantity (in grams)</label>
                                            <input class="form-control"
                                                   id="vegetable_quantity"
                                                   name="vegetable_quantity"
                                                   value="1000" readonly>
                                            <div id="editQuantityButtonsDiv" class="my-3">
                                                <button type="button"
                                                        id="add500grams"
                                                        class="btn"
                                                        onclick="changeQuantity(this)">+500 g
                                                </button>
                                                <button type="button"
                                                        id="subtract500grams"
                                                        class="btn"
                                                        onclick="changeQuantity(this)">-500 g
                                                </button>
                                                <button type="button"
                                                        id="add250grams"
                                                        class="btn"
                                                        onclick="changeQuantity(this)">+250 g
                                                </button>
                                                <button type="button"
                                                        id="subtract250grams"
                                                        class="btn"
                                                        onclick="changeQuantity(this)">-250 g
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="vegetable_total_amount">Total Amount</label>
                                            <input class="form-control"
                                                   id="vegetable_total_amount"
                                                   name="vegetable_total_amount"
                                                   value="0"
                                                   readonly>
                                            <small id="vegetable_amount_edit_manually"
                                                   class=""
                                                   onclick="edit_manually()">Edit Manually
                                            </small>
                                        </div>
                                        <input style="float: right;" type="submit" class="btn btn-success" value="Add">
                                    </form>
                                </div>
							</div>
						</div>
					</div>

					<script type="text/javascript">
						jQuery.noConflict();
						$('#quickAddVegetables').on('show.bs.modal', function (event) {
							var button = $(event.relatedTarget);
							var vegetableName = button.data('vegetableName');
							var modal = $(this);
							modal.find('.modal-title').text('Quick Add: ' + vegetableName);
							modal.find('#vegetable_title').val(vegetableName);
						})
						jQuery.noConflict();
						$('#quickAddVegetables').on('hidden.bs.modal', function (e) {
						    $('#quickAddVegetables').find('#vegetable_total_amount').prop("readonly", true);
                            $('#quickAddVegetables').find('#vegetable_total_amount').val(0);
                            $('#quickAddVegetables').find('#vegetable_unit_price').val("");
                            $('#quickAddVegetables').find('#vegetable_unit_price').prop("disabled", false);
						})
					</script>
				</div>
			</div>
		</div>

		{% for date, expense_data in regrouped_expense_list %}
			<div class="btn btn-block dropdown_button" id = "{{ date|date:'U' }}_dropdown_button"  onclick="toggle_table(event, this)">
				<span class="new_add" id="{{ date|date:"U" }}" onclick="add_for_date(event, this)">
						<span style="padding-left: 6px; padding-right: 6px;">Add</span>
				</span>

				<div style="display: inline;" id="{{ date|date:"U" }}">
					{{ date }}
				</div>

				<span id="{{ date|date:"U" }}_p" style="padding-left: 10px;">+</span>

				<span class="header_total" id="{{ date|date:"U" }}_header_total">Rs </span>

			</div>



			<div id="{{ date|date:"U" }}_div" class="main_table_div" style="display: none; width: 100%; overflow-x: auto;">
				<table id="{{ date|date:"U" }}_table" class="main_table">
					<thead style="color: green;">
						<th>Title</th>
						<td>Amount</td>
					</thead>
					{% for e in expense_data %}
					<tr style="color: blue; cursor: pointer;" onclick="displayDetailedInfo({{date|date:'U'}}, '{{e.pk}}', this)">
						<th>{{e.title}}</th>
						<td>Rs {{ e.amount }}</td>
					</tr>
					{% endfor %}
				</table>
			</div>

			<br>
			{% empty %}
				{% if not query %}
					<p>No expenses yet!</p>
					<p>Click <a href="{% url 'main:add_expense' %}">here</a> to add a new expense.</p>
				{% endif %}
			{% endfor %}
		{% endif %}

		<br>

	<!-- The modal_custom -->
	<div id="mymodal_custom" class="modal_custom">

		<!-- modal_custom content -->
		<div class="modal_custom-content">
			<div class="modal_custom-header">
				<div class="modal_custom-header-line">
						<h2 id="modal_title" style="margin: 0; color: blue; display:inline-block;">Title</h2>
						<h5 id="modal_amount" style="margin: 0; color: black; display:inline-block;">Amount</h5>
				</div>
			</div>
			<div class="modal_custom-body">
				<p id="modal_content_date"></p>
				<p id="modal_content_description"></p>
			</div>
			<div class="modal_custom-footer">
				<div id="modal_update_button" style="display: inline-block; float: right;">Update</div>
				<button id="modal_cancel_button" style="display: inline-block; float: right; background-color: #645fd2; color: white; margin-right: 5px;"  class="btn">Cancel</button>
			</div>
		</div>

	</div>

	<!-- modal_custom Styling -->
	<style type="text/css">

		/* The modal_custom (background) */
		.modal_custom {
		    display: none;
		    position: fixed; /* Stay in place */
		    z-index: 1; /* Sit on top */
		    left: 0;
		    top: 0;
		    width: 100%; /* Full width */
		    height: 100%; /* Full height */
		    overflow: none; /* Enable scroll if needed */
		    background-color: rgb(0,0,0); /* Fallback color */
		    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
			justify-content: center;
			align-items: center;
		}

		/* modal_custom Content/Box */
		.modal_custom-content {
		    background-color: #a6d0cd;
		    margin: 20% auto; /* 15% from the top and centered */
		    padding: 20px;
		    border: 1px solid #888;
		    /*max-width: 80%;  Could be more or less, depending on screen size */
		    /*min-width: 60%;*/
			background-color: #e1ebf5;
			box-shadow: 2px 1px #dbe8fc;
			border-radius: 7px;
			border: 0.5px solid #a4aebf;
			/*padding: 20px 15px 20px 15px;*/
		}
		.modal_custom-header-line {
			/*width: */
			display: inline-block;
		}
		/* The Close Button */
		.modal_custom-header-close {
		    color: #730edc;
		    float: right;
		    /*display: inline;*/
		    font-size: 28px;
		    font-weight: bold;
		}

		/*Close button hidden.*/
		/*.close:hover,
		.close:focus {
		    color: black;
		    text-decoration: none;
		    cursor: pointer;
		}*/


		.modal_custom-header {
		    padding: 2px 16px;
		    /*background-color: #5cb85c;*/
		    color: white;
		}

		.modal_custom-body {padding: 2px 16px;}

		.modal_custom-footer {
		    padding: 2px 16px;
		    /*background-color: #5cb85c;*/
		    color: white;
		}
	</style>

	<!-- JavaScript for modal_custom -->
	<script type="text/javascript">
		function displayDetailedInfo(epoh_date, pk, element){

			var month_names = new Array("January", "February", "March",
			"April", "May", "June", "July", "August", "September",
			"October", "November", "December");

			//Required in JavaScript
			s = epoh_date.toString() + "000";

			//Getting date from unixEpoh
			date = new Date(parseInt(s))
			date = date.getDate().toString() + "-" + month_names[date.getMonth()] + "-" + date.getFullYear()

			title_node = element.childNodes[1]
			title = title_node.innerHTML;

			// console.log(title);

			amount_node = element.childNodes[3];
			amount = amount_node.innerHTML;

			var modal_update_button = document.getElementById('modal_update_button');
			modal_update_button.innerHTML =
							//Using ard link and not url reverse_lazy
							"<a class='btn btn-primary' href = '/main/update/" + pk + "'> Update</a>"


			var modal_title = document.getElementById('modal_title');
			modal_title.innerHTML = title;

			var modal_amount = document.getElementById('modal_amount');
			modal_amount.innerHTML = amount;


			var modal_content_date = document.getElementById('modal_content_date');
			modal_content_date.innerHTML = "<hr/> <strong>Date: </strong>" + date;

			// var xhttp = new XMLHttpRequest();
			// 	xhttp.onreadystatechange = function() {
			// 		if (this.readyState == 4 && this.status == 200) {
			// 			description_result = this.responseText;

			// 			change_description(description_result);
			// 		}
			// 	};
			// xhttp.open("GET",
			// 			window.location.protocol + "//" + window.location.host + "/main/description/" + pk,
			// 			true);
			// xhttp.send();

			// function change_description(description_result){
			// 	description_result = JSON.parse(description_result)
			// 	// console.log(description_result.description);

			// 	if(description_result.description == "")
			// 	{
			// 		document.getElementById('modal_content_description').innerHTML =
			// 				"<strong>Description: </strong><br>" + "No Description";
			// 	}
			// 	else{
			// 		document.getElementById('modal_content_description').innerHTML =
			// 				"<strong>Description: </strong><br>" + description_result.description;
			// 	}

			// };


			//Storing JSON from special JSON object passed using context
			//Getting date from unixEpoh
			//Required in JavaScript
			s = epoh_date.toString() + "000";

			date = new Date(parseInt(s))

		    day = date.getDate();
		    month = date.getMonth() + 1;
		    year = date.getFullYear();

		    //month returns 3 not 03
		    if(month < 10)
		    {
		    	month = "0" + month.toString();
		    }

		    //day returns 3 not 03
		    if(day < 10)
		    {
		    	day = "0" + day.toString();
		    }

		    date = year.toString()  + "-" + month + "-" + day;

		    {% if expenses_json %}
				expenses_array = JSON.parse('{{ expenses_json|escapejs }}')

				console.log(expenses_array);

				console.log(date);

				s = expenses_array["date_wise_expenses"][date];

				x = s['expenses'][pk];
				description = x.description;


				description = description.replace(/(?:\r\n|\r|\n)/g, '<br>');

				console.log(description)

				if(description == "")
				{
					document.getElementById('modal_content_description').innerHTML =
							"<strong>Description: </strong><br>" + "No Description";
				}
				else{
					document.getElementById('modal_content_description').innerHTML =
							"<strong>Description: </strong><br>" + description;
				}
			{% endif %}






			var modal_cancel_button = document.getElementById('modal_cancel_button');
			modal_cancel_button.onclick = function() {
				modal_custom.style.display = "none";
			}

			// Get the modal_custom.
			var modal_custom = document.getElementById('mymodal_custom');

				modal_custom.style.display = "flex";

			// When the user clicks anywhere outside of the modal_custom, close it
			window.onclick = function(event) {
				// console.log(event);
			    if (event.target == modal_custom) {
			        modal_custom.style.display = "none";
			    }
			}

			$(document).keydown(function(event) {
				if (event.keyCode == 27) {
					$('#mymodal_custom').hide();
				}
			});
		}
	</script>

{% endblock %}