{% extends 'main/base.html' %}

{% block title_block %}
	<title>Expense Detail</title>
{% endblock %}


{% block body_block %}
	<div class="jumbotron">
		<h5>Detail of expense titled <em>{{ expense.title }}</em>:</h5>
		<div style="border: solid black 2px; padding: 5px; border-radius: 5px">
			<table>
				<tr>
					<td style="padding-right: 5px"><strong>Date:</strong></td>
					<td style="padding-right: 5px"><span>{{ expense.date }}</span></td>
				</tr>
				<tr>
					<td style="padding-right: 5px"><strong>Title:</strong></td>
					<td style="padding-right: 5px"><span>{{ expense.title }}</span></td>
				</tr>
				<tr>
					<td style="padding-right: 5px"><strong>Amount:</strong></td>
					<td style="padding-right: 5px"><span>Rs {{ expense.amount }}</span></td>
				</tr>
			</table>
		</div>
		<br>
		<a class="btn btn-danger" href="{% url 'main:expense_delete' pk=expense.pk %}">Delete</a>
	</div>

{% endblock %}