{% extends 'main/base.html' %}

{% block title_block %}
	<title>Filter Result</title>
{% endblock %}


{% block body_block %}
	{% if confirmed == False %}
		<p style="color: red;">Your email is not confirmed.You can only add expenses but can not view them.</p>
	{% else %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<style type="text/css">
			table, th, td{
					border:solid black 1px;
					padding-left: 5px;
					padding-right: 5px;
				}
			th{
				width: 70%
			}
		</style>
		<script type="text/javascript">
			$(document).ready(function(){

				{% regroup expenses by date as regrouped_expense_list %}

					{% for date, expense_data in regrouped_expense_list %}

					// var t = 0;

						// t += {{ e.amount }};

						$("#{{ date|date:"U" }}").click(function(){
							$("#{{ date|date:"U" }}_div").slideToggle("slow");
						});


						var t = 0;
							{% for e in expense_data %}
								{% if forloop.counter0 == 0 %}
								{% endif %}
								t += {{ e.amount }};

							{% endfor %}
									a = "<tr><th style = 'text-align:right'>Total: </th><td><strong>Rs " + t + "</strong></td></tr>"
									$("#{{ date|date:"U" }}_table").append(a)

						{% if forloop.counter0 == 0 %}
						$("#{{ date|date:"U" }}_div").slideToggle("slow")
						{% endif %}
										
					{% endfor %}

				})
		</script>

		<div style="padding-top: 20px" class="jumbotron">
			<a href="{% url 'main:filter_by_date' %}"><- Filter Again</a>
			<hr>
			{% if expenses %}			
			<form action="{% url 'main:filter_by_date' %}" method="GET">
				<div class="input-group input-group-sm mb-3">
					<input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" name="query">
					<input type = "submit" class=" btn input-group-text" style="background-color: rgba(21, 21, 21, 0.3)" id="inputGroup-sizing-sm" value = "Search">
					<input type="hidden" name="start_date" value="{{ start_date|date:"Y-m-d" }}">
					<input type="hidden" name="end_date" value="{{ end_date|date:"Y-m-d" }}">

				</div>
			</form>
			{% endif %}
			<h6>
				Expenses 
				{% if start_date == end_date %}
					for <em style="color: green"><strong>{{ start_date|date }}</strong></em>
				{% if query %}containing <strong style="color: green">"{{ query }}"</strong>{% endif %}
				</h6>
				{% else %}
					from <em style="color: green"><strong>{{ start_date }}</strong></em> to <em style="color: green"><strong>{{ end_date }}</strong></em>
					{% if query %}containing <strong style="color: green">"{{ query }}"</strong>{% endif %}
			</h6>
			{% endif %}
			<br>
			{% if expenses %}
			{% regroup expenses by date as regrouped_expense_list %}
				{% for date, expense_data in regrouped_expense_list %}
					<div class="dropdown">
						<button id="{{ date|date:"U" }}" class="btn btn-block dropdown-toggle" style=" background-color: rgb(210, 210, 210);  color: black;">{{ date }}</button>
						<div id="{{ date|date:"U" }}_div" style="display: none; width: 100%">
							<table id="{{ date|date:"U" }}_table" style="width: 100%">
							{% for e in expense_data %}
								<tr>
									<th>{{ e.title }}</th>
									<td>Rs {{ e.amount }}</td>
								</tr>
							{% endfor %}
							</table>
						</div>
					</div>
						<br>
				{% endfor %}
			{% else %}
			{%if not query %}
			<center>
				<h4 style="color: green">It's empty!</h4>
				<p style="color: blue">No expenses for the selected period!!</p>
			</center>
			{% else %}
			<p style = "color: red">No matching results for your query: <strong>{{ query }}</strong></p>
			{% endif %}
			{% endif %}
		</div>
	{% endif %}
{% endblock %}