{% extends 'main/base.html' %}

{% block title_block %}
	<title>Find Your Account</title>
{% endblock %}


{% block body_block %}

<style type="text/css">

	body{
		/*border: 1px solid black;*/
		background-color: white;
	}
	*{
		/*border: 1px solid black;*/
	}
	#card1{
		/*border-radius: 7px;*/
		/*padding-top: 3px;*/
		/*box-shadow: 2px 4px #dbe8fc;*/
		/*border: 1px solid white;*/
		/*background-color: #98c5c2; */
		/*background-color: #032e72;*/
		/*background-color: #f9c8c2;*/
		/*background-color: whitesmoke;*/
		max-width: 340px;
		margin: auto;
	}
	#heading_div{
		/*border-bottom:	1px solid #a4aebf;*/

	}
	#heading{
		/*padding-left: 10px;*/
		margin-top: 5px;
		/*padding-right: 10px;
		padding-top: 10px;*/
		margin-bottom: 8px;
		/*font-size: 1em;*/
		/*text-align: center;*/
		/*background-color: #f7ccbe!important;*/

	}
	#content{
		/*border-bottom-right-radius: 7px;*/
		/*border-bottom-left-radius: 7px;*/
		/*background-color: whitesmoke;*/
		/*background-color: #f7ccbe!important;*/
		/*background-color: #f9c8c2;*/

	}
	#email{
		/*border-bottom: 0!important;*/
	}
	input:focus{
		outline: none!important;
		box-shadow: none!important;
		border-color: blue!important;
	}
	input{
		/*border: 0.5px #80bdff solid!important;*/
		background-color: ;
		height: 36px;
		padding-left: 0!important;
		border-radius: 0!important;
		border: none!important;
		border-bottom: 1px solid #dfe8ff!important;
		background-color: white!important;
		/*background-color: #f7ccbe!important;*/
	}
	#code{
		width: 60%
	}

	@media only screen and (min-width: 600px) {
	    #card1 {
	        max-width: 450px;
	        margin-top: 60px;
	    }
	}

</style>


<div id="card1">
	<div id="heading_div" class="container">
		{% if message %}
			<p style="color: {{ message_color }}; margin-top: 0px">
					{{ message }}
			</p>
		{% endif %}
		<small class="form-text">We have sent a confirmation code to <span style="color: blue">{{ email }}</span></small>

		<br>

		<h4>Enter Code</h4>
		<!-- <hr> -->
	</div>
	<div id="content">
		
		<br>


		<div class="container">
			{% if confirmed == True %}

			{% else %}
				{% if incorrect_code == True %}
					<p style="color: red;">Incorrect Code. Please try again</p>
				{% endif %}

				
				<p>Enter the code which you have recieved: </p>

				<form method="POST" action="{% url 'main:confirm_password_reset_code' %}">
					{% csrf_token %}
					
					{% if email %}
						<input type="hidden" name="email" value="{{ email }}">
					{% endif %}			

					<input id="code" type="number" min="100000" max="999999" name="code_entered" autofocus="true">
					<button type="submit" class="btn btn-sm" style="margin-left: 5px; background-color: #0850b6; color: white;">Confirm</button>
				</form>
			{% endif %}

		</div>
	</div>
</div>

{% endblock %}