{% extends 'main/base.html' %}

{% block title_block %}
	<title>ExpensesManager</title>
{% endblock %}


{% block body_block %}
	<div class="jumbotron">
		<h3>Welcome to the ExpensesManager</h3>
		<p>Click <a href="{% url 'main:expense_list' %}">here</a> to see list of all expenses.</p>
		<p>Click <a href="{% url 'main:add_expense' %}">here</a> to add a new expense.</p>
		<p>Click <a href="{% url 'main:filter_by_date' %}">here</a> to see expenses between selected dates.</p>
	</div>
{% endblock %}