{% extends 'main/base.html' %}

{% block title_block %}
	<title>ExpensesManager</title>
{% endblock %}


{% block body_block %}
	<style type="text/css">
	#card{
		background-color: #e1ebf5;
		box-shadow: 2px 1px 2px 1px #dbe8fc;
		border-radius: 7px;
		border: 0.5px solid #a4aebf;
		/*padding: 20px 15px 20px 15px;*/
	}
	</style>
	<div id="card" class="jumbotron">
		<h3>Welcome to the <span style="font-family: 'Concert One', cursive;">ExpensesManager</span></h3>
		{% if user.is_authenticated %}
			<p>Logged in as <strong style="color: blue">{{ user.first_name|title }} {{ user.last_name|title }}</strong></p>
			<p>Click <a href="{% url 'main:expense_list' %}">here</a> to see list of all expenses.</p>
			<p>Click <a href="{% url 'main:add_expense' %}">here</a> to add a new expense.</p>
		{% else %}
			<p style="color: red;">Every page require user to be logged in.</p>
			<p>Click <a href="{% url 'main:user_login' %}">here</a> to login.</p>
			<p>Click <a href="{% url 'main:user_registration' %}">here</a> to Sign up.</p>
		{% endif %}
	</div>
{% endblock %}