{% extends 'main/base.html' %}

{% block title_block %}
	<title>Login</title>
{% endblock %}


{% block body_block %}

<style type="text/css">
	body{
		/*border: 1px solid black;*/
		background-color: whitesmoke;
	}
	*{
		/*border: 1px solid black;*/
	}
	#card1{
		/*border-radius: 7px;*/
		/*padding-top: 3px;*/
		/*box-shadow: 2px 4px #dbe8fc;*/
		/*border: 1px solid white;*/
		/*background-color: #98c5c2; */
		/*background-color: #032e72;*/
		/*background-color: #f9c8c2;*/
		/*background-color: whitesmoke;*/
		width: 340px;
	}
	#heading_div{
		/*border-bottom:	1px solid #a4aebf;*/

	}
	#heading{
		/*padding-left: 10px;*/
		margin-top: 5px;
		/*padding-right: 10px;
		padding-top: 10px;*/
		margin-bottom: 8px;
		/*font-size: 1em;*/
		/*text-align: center;*/
		/*background-color: #f7ccbe!important;*/

	}
	#content{
		/*border-bottom-right-radius: 7px;*/
		/*border-bottom-left-radius: 7px;*/
		/*background-color: whitesmoke;*/
		/*background-color: #f7ccbe!important;*/
		/*background-color: #f9c8c2;*/

	}
	#email{
		/*border-bottom: 0!important;*/
	}
	input:focus{
		outline: none!important;
		box-shadow: none!important;
		border-color: blue!important;
	}
	input{
		/*border: 0.5px #80bdff solid!important;*/
		background-color: ;
		height: 36px;
		padding-left: 5px;
		border-radius: 0!important;
		border: none!important;
		border-bottom: 1px solid #dbe8fc!important;
		background-color: whitesmoke!important;
		/*background-color: #f7ccbe!important;*/

	}
</style>

<div id="card1" class="mx-auto">
	<div id="heading_div" class="container">
		<h4 id="heading">Login</h4>
	</div>

	<div id="content">
		
		<br>


		<div class="container">
			{% if errors %}
				<p style="color: red; margin-top: 0px">
						{{ errors }}
				</p>
			{% endif %}
			
			<form id="login" action="{% url 'main:user_login' %}" method="POST">
				{% csrf_token %}
				<div class="form-group">
						<input autofocus="true" class="form-control inputs" id="email" name="username"
							   placeholder="Enter username" required>
						<input type="password" class="form-control inputs" id="password"
							   placeholder="Enter password" name="password" required>
						<p style="margin-top: 10px;">
							<a href="{% url 'main:forgot_password' %}" style="font-size: 15px; color: black;">Forgot Password?</a>
						</p>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-sm btn-block btn-success">Login</button>
				</div>
			</form>

			<a style="color: white" href="{% url 'main:user_registration' %}">
				<button class="btn btn-sm btn-info btn-block">New User?</button>
			</a>

			<br>

		</div>
	</div>
</div>

{% endblock %}